.container {
  width: calc(100% - 44rem);
  padding: 4rem 2rem;
  overflow-y: scroll;
}

.sectionTitle {
  font-size: 2.8rem;
  font-family: var(--font-dohyeon);
  font-style: italic;
  padding-right: 1rem;
  margin-bottom: 0.4rem;
}

.sprintDetail {
  font-size: 1.6rem;
  color: #F1F1F1;
  margin-bottom: 2rem;
  font-weight: 300;
}

.section {
  width: 100%;
  padding: 2rem;
  margin-bottom: 3.2rem;
}

.progressWrap {
  width: 100%;
  height: 2rem;
  background-color: #444;
  border-radius: 3rem;
}

.progress {
  width: 0%;
  height: 100%;
  border-radius: 3rem;
  background-color: var(--color-300);
  transition: all 0.4s;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  color: var(--background-color);
}

.taskCounterWrap {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.taskCounter {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 2rem;
  background-color: #555;
}

.taskWrap {
  width: 100%;
  min-height: 14rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
  background-color: var(--box-color);
}


.addTask {
  width: 3.2rem;
  height: 12rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  border-radius: 1rem;
  background-color: var(--item-color);
  align-self: center;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    font-size: 2.8rem;
  }
}

.editSprintWrap {
  width: 100%;
  background-color: var(--box-color);
  border-radius: 2rem;
  padding: 1rem;
}

.formSubTitle {
  width: 100%;
  text-align: start;
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 300;
}

.input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: var(--background-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  outline: none;
  transition: all 0.2s;
  margin-bottom: 1rem;
}

.textarea {
  font-size: 1.2rem;
  resize: none;
  padding: 1rem;
  border: 0.1rem solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 1rem;
  width: 100%;
  min-height: 8rem;
  outline: none;
  margin-bottom: 1rem;
}

.dateInput {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background: url('../../app/assets/calendar.svg') no-repeat right 10px center var(--background-color);
  outline: none;
  font-family: var(--font-jua);
  border: 0.1rem solid var(--border-color);
  &::-webkit-calendar-picker-indicator {
    appearance: none;
    opacity: 0;
    cursor: pointer;
  }
}

.spacer {
  flex: 1;
}

.button {
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--color-300);
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  transition: all 0.4s;
  &:hover {
    background-color: var(--color-500);
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.warning {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  color: #FF2929;
  text-align: start;
}