* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: var(--font-pretendard);
  color: white;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

input {
  background-color: transparent;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

:root {
  --background-color: #1b1b1b;
  --box-color: #202020;
  --item-color: #3b3b3b;
  --border-color: #464646;

  --color-100: #b9e4da;
  --color-200: #9bd9cb;
  --color-300: #7ecebb;
  --color-400: #60c3ac;
  --color-500: #45b59b;
  --color-600: #3a9882;
  --color-700: #2e7a68;
  --color-800: #235c4f;
  --color-900: #183f36;
}
