* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: var(--font-pretendard);
  color: white;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

input{
  background-color: transparent;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}


:root {
  --background-color: hsl(240, 11%, 13%);
  --box-color: hsl(240, 11%, 17%);
  --border-color: #464646;

  --color-100: hsl(166, 45%, 81%);
  --color-200: hsl(166, 45%, 73%);
  --color-300: hsl(166, 45%, 65%);
  --color-400: hsl(166, 45%, 57%);
  --color-500: hsl(166, 45%, 49%);
  --color-600: hsl(166, 45%, 41%);
  --color-700: hsl(166, 45%, 33%);
  --color-800: hsl(166, 45%, 25%);
  --color-900: hsl(166, 45%, 17%);
}
