.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.modal {
  width: 100%;
  max-width: 52rem;
  min-height: 24rem;
  background-color: var(--box-color);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modalTitle {
  font-size: 2.4rem;
  font-family: var(--font-dohyeon);
  font-style: italic;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.modalSubTitle {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.4rem 0;
}

.modalInput {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.6rem;
}

.spacer {
  flex: 1;
}

.button {
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--color-300);
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  transition: all 0.4s;
  &:hover {
    background-color: var(--color-500);
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.cancel {
  margin-top: 1rem;
  color: #ccc;
  background-color: var(--item-color);
  &:hover {
    background-color: #333;
  }
  &:disabled {
    background-color: #333;
    cursor: not-allowed;
  }
}

.dateInput {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background: url('../../app/assets/calendar.svg') no-repeat right 10px center var(--box-color);
  outline: none;
  font-family: var(--font-dohyeon);
  &::-webkit-calendar-picker-indicator {
    appearance: none;
    opacity: 0;
    cursor: pointer;
  }
}