.container {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  font-size: 2rem;
  background-color: var(--color-300);
  border-radius: 10rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  &:hover{
    background-color: var(--color-600);
  }
}

.join {
  background-color: white;
  color: var(--color-500);
  &:hover{
    background-color: var(--color-100);
    color: var(--color-800);
  }
}